@media (max-width: 54em) {
    html {
        font-size: 32.5%;
    }

    .inputs {
        margin-bottom: 9rem;

    }

    .input {
        /* display: inline-block; */
    }

    .error-text {
        margin-bottom: 4rem;
    }

    .submit-form {
        right: -50%;
        transform: translateX(-175%);
        ;
        width: 11rem;
        height: 11rem;

    }

    .inputs {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .svg-icon {
        width: 5rem;
        height: 5rem;
    }
}

@media (max-width:23.5em) {
    html {
        font-size: 30.5%;
    }
}